<div class="container">
<div class="row">
    <div class="jumbotron text-center">
        <h1>LIVE Music!</h1>
    
        <p>Welcome to our portfolio site...</p>
    </div>
        <div class="row">
            
            <div class="col-md-6">
                <div class="well text-center">
                    <h2 class="">Free</h2>
                    <h4>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum </h4>
                    
                    <%= link_to 'Sign Up Free', new_user_registration_path(plan: @basic_plan.id), class: 'btn btn-default btn-lg btn-block' %>
                
                </div>
            </div>
            
            <div class="col-md-6">
                <div class="well text-center">
                    <h2 class="">Premium</h2>   
                    <h4>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum </h4>
                
                    <%= link_to 'Sign Up Premium', new_user_registration_path(plan: @pro_plan.id), class: 'btn btn-default btn-lg btn-block' %>
                    
                </div>
            </div>
        </div>
</div>
</div>
