<!DOCTYPE html>
<html>
  <head>
    <title>GPSSessionists</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    
    
<!--NAVBAR FROM GETBOOTSTRAP.COM-->
  <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="#" class="navbar-brand">GPS Sessionists</a>
                <!--<img src="images/logo.png" width="120px" height="120px"></a>-->
            </div>

            <!-- <div class="clear"></div> -->

            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Home</a></li>
                    <li><a href="#about">Videos</a></li>
                    <li><a href="#contact">Photos</a></li>
                    <li><a href="#about">Services</a></li>
                    <li><a href="inquire.html">Inquire</a></li>
                </ul>
            </div><!--.nav-collapse -->
        </div>
    </nav>
<!--NAVBAR FROM GETBOOTSTRAP.COM-->    
    
    
    
    
    <%= yield %>
  </body>
</html>
